name: Node CI

on: [push]

env:
  CI: true
  DISPLAY: ':99.0'
  COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_TOKEN }}

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: export display
      run: |
        /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
        echo ">>> Started xvfb"

    - name: npm install
      run: |
        npm install

    - name: npm build
      run: |
        npm run vscode:prepublish

    - name: npm test
      run: |
        npm run test:integration

    - name: npm coverage
      run: |
        npm run test:unit:coverage